@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-800 antialiased;
}